.typing-container {
    display: flex;
    overflow: hidden;
    /*color: green;*/
    align-items: center;
    font-size: clamp(13px, 3vw, 20px);
    font-family: 'Courier New', Courier, monospace;
  }
  
  .cursor {
    display: inline-block;
    background-color: black;
    width: 2px;
    margin-left: 5px;
    animation: blink 0.8s step-end infinite;
  }
  
  @keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
  }
  